.card-header {
   background-image: url('./stone-resize-300x225.jpg');
  background-size: contain;
  background-position: center;
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

.right:hover {
   cursor: pointer;
   color: gray;
}
