@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
    background-image: url('/Users/kerimyilmaz/travel-app/src/Features/WelcomeSection/Components/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

